<body>
    <header class="cab">
        <h1>Gym Shark</h1>
        <nav>
            <a href="http://localhost:4200/pr">
                INICIO
            </a>

            <a href="http://localhost:4200/raw">
                RAW
            </a>

            <a href="http://localhost:4200/olp">
                OLYMPUS
            </a>

            <a href="http://localhost:4200/yg">
                YOUNGLA
            </a>

        </nav>
    </header>
    <section>
        <div id="container">
            <img src="./assets/gs1.png" >
        </div>
        <div id="container">
            <img src="./assets/gs2.png" >
        </div>
        <div id="container">
            <img src="./assets/gs3.png" >
        </div>
        <div id="container">
            <img src="./assets/gs4.png" >
        </div>
    </section>

</body>
