<div class="container">
    <div class="heading">
      <h1>
        <span class="shopper">s</span> Carrito de Compras
      </h1>
      
      <a href="pr" class="visibility-cart transition is-open">X</a>    
    </div>
    
    <div class="cart transition is-open">
      
      
      
      <div class="table">
        
        <div class="layout-inline row th">
          <div class="col col-pro">Producto</div>
          <div class="col col-price align-center "> 
            Precio
          </div>
          <div class="col col-qty align-center">Un</div>
          <div class="col">IVA</div>
          <div class="col">Total</div>
        </div>
        
        <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="kitten" />
            <p>Happy Little Critter</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>{{p}}</p>
          </div>
  
          <div class="col col-qty layout-inline">
              <input type="numeric" value="1" />
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£2.95</p>
          </div>
          <div class="col col-total col-numeric">               <p> {{p}}</p>
          </div>
        </div>
        
      
        
        </div>

    
         <div class="tf">
           <div class="row layout-inline">
             <div class="col">
               <p>IVA</p>
             </div>
             <div class="col"></div>
           </div>
           <div class="row layout-inline">
             <div class="col">
               <p>SUBTOTAL</p>
             </div>
             <div class="col"></div>
           </div>
            <div class="row layout-inline">
             <div class="col">
               <p>Total</p>
             </div>
             <div class="col"></div>
           </div>
         </div>         
    </div>
      
      <a href="f" class="btn btn-update">Pagar</a>
    
  </div>