<body>
    <header class="cab">
        <h1>RAW</h1>
        <nav>
            <a href="http://localhost:4200/pr">
                INICIO
            </a>

            <a href="http://localhost:4200/yg">
                YOUNGLA
            </a>

            <a href="http://localhost:4200/olp">
                OLYMPUS
            </a>

            <a href="http://localhost:4200/gs">
                GYM SHARK
            </a>

        </nav>
    </header>
    <section>
        <div id="container">
            <img src="./assets/raw1.png" >
        </div>
        <div id="container">
            <img src="./assets/raw2.png" >
        </div>
        <div id="container">
            <img src="./assets/raw3.png" >
        </div>
        <div id="container">
            <img src="./assets/raw4.png" >
        </div>
    </section>

</body>