<body>
    <header class="cab">
        <h1>RAW</h1>
        <nav>
            <a href="http://localhost:4200/pr">
                INICIO
            </a>

            <a href="http://localhost:4200/yg">
                YOUNGLA
            </a>

            <a href="http://localhost:4200/olp">
                OLYMPUS
            </a>

            <a href="http://localhost:4200/gs">
                GYM SHARK
            </a>

        </nav>
    </header>
    <section>
        <div id="container">
            <h3 id="producto">
                CAMISETA L
            </h3>
            
            <br>

            <p id="precio">
                $19.50
            </p>
            <button></button>
            <img src="./assets/raw1.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                CAMISETA XL
            </h3>
            
            <br>

            <p id="precio">
                $19.50
            </p>
            <button></button>
            <img src="./assets/raw2.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                CAMISETA RAW XL
            </h3>
            
            <br>

            <p id="precio">
                $22.50
            </p>
            <button></button>
            <img src="./assets/raw3.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                PUMP COVER OVERSIZED
            </h3>
            
            <br>

            <p id="precio">
                $19.50
            </p>
            <button></button>
            <img src="./assets/raw4.png" >
        </div>
    </section>

</body>