<body class="pp">
    
    <header class="cabecera">
        <h1 id="hprincipal">GYM FIT</h1>
        <div  id="logos" style="display: inline-block; ">
            <img src="./assets/gs.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/olp.png" >
        </div>
        <div id="logos" style="display: inline-block;" >
            <img src="./assets/raw.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/yg.png" >
        </div>
    </header>

    <main class="p">
        <h1 id="no">
            NO SE ENCONTRO EL USUARIO 
        </h1>
        <br>
        <button class="r" (click)="regresar()">
            REGRESAR
        </button>
    </main>
</body>