.cabecera{
    text-align:right;
    padding: 20px; margin: auto;
    background-color: black;
    margin: -20px;
    padding: 15px;

}
#hprincipal{
    margin: 0;
    display: inline-block;
    font-weight: bold;
    color: white;
    font-size: 25px;

}
#logos{
    text-align: right;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.login-section{
    background-color: rgb(188, 225, 225);
    margin: 500px 500px 500px;
    width: 1500px;
    height: 1500px;
}

.pp{
    background-color: rgb(250, 250, 250);
}

#ingreso{
font-size: 50px;
}

#complete{
font-size: 25px;
}

.tn{
    text-align: center;
    background-color: rgb(134, 135, 34);
    font-style: italic;   
}
.f{
    align-items: center;
    align-tracks: center;
    text-align: center;
    align-content: center;
    background-color: rgb(71, 67, 51);
    border: .5px;
    padding: .5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-style: italic;
    width: 2500px;
    font-size: 50px;
}
.botonenviar{
    align-content: center;
    border-radius: 10px;
    font-style: italic;
}
.but{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


*{
  margin:0;
  padding:0;
  border:0;
  font-family:'Open Sans',sans-serif;

}

body{
  background-color:rgb(161, 228, 217);
}
#form{
width: auto;
margin: 50px 0px;
padding: 0 30px;
}
#base{
	border-top-left-radius:5px;
  border-top-right-radius:5px;
	background-color: #000000;
	width:600px;
  height:550px;
    margin:auto;
  position: absolute;
top:0;  bottom:0;  left:0;  right:0;
  	border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.input{
  margin:5px 8px;
  background-color:#EBEBEB;
  height:30px;
  width:90%;
  border-left: 3px solid rgb(0, 0, 0);
  padding-left:5px;
  font-size:75%;
  color: rgba(0, 0, 0, 0.4);
}

.input:focus{
  background:rgba(234, 246, 239, 0.79);
   outline:none;
}

.input:hover{
 border-left: 3px solid rgb(237, 237, 237);
   outline:none;
}

.boton1:hover ,.boton2:hover{
  background-color:rgba(234, 246, 239, 0.79);
  outline:none;
}

.boton1:active ,.boton2:active{

  outline:none;
}

.boton2, .boton1{	
  margin:28px 20px;
  background-color:#EBEBEB;
  text-align: center;
  width:75px;
  height:28px;
  border-bottom: 3px solid rgb(254, 254, 254);
  color: rgba(0, 0, 0, 0.4);
}
button{
    margin:28px 20px;
    background-color:#EBEBEB;
    text-align: center;
    width:75px;
    height:28px;
    border-bottom: 3px solid rgb(254, 254, 254);
    color: rgba(0, 0, 0, 0.4);
}
#titulo{
	position: relative;
top: -13px;
	text-align:center;
  font-size:35px;
  height:50px;
  margin-bottom:15px;
  color:rgba(0, 0, 0, 0.8);
background-color:#EBEBEB;
  border-top-left-radius:5px;
  border-top-right-radius:5px;

}
#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #EBEBEB;
  border-left:12px solid transparent;
  margin:0 auto;
  position: relative;
top: -13px;
}