<body class="pp">
    
    <header class="cabecera">
        <h1 id="hprincipal">GYM FIT</h1>
        <div  id="logos" style="display: inline-block; ">
            <img src="./assets/gs.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/olp.png" >
        </div>
        <div id="logos" style="display: inline-block;" >
            <img src="./assets/raw.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/yg.png" >
        </div>
    </header>

    <main class="login-section" id="login-section">
        <div>
            <p id="ingreso">
                Usuario :
            </p>
            <p id="complete" >

            </p>
            <br>
            <p id="ingreso">
                Contraseña :
            </p>
            <p id="complete" >

            </p>
            <button (click)="ingresar()" > INGRESAR</button>
        </div>
    </main>

    <footer id="pie">
        <h2 class="rd">Redes Sociales Marcas</h2>
        <form action="https://instagram.com/olympus.team.ec?igshid=OGQ2MjdiOTE=" class="o">
            <button>
                olp
            </button>
        </form>
        <form action="https://instagram.com/youngla?igshid=OGQ2MjdiOTE=
        " class="y">
            <button>
                YOUNGLA
            </button>
        </form>
        <form action="https://instagram.com/gymshark?igshid=OGQ2MjdiOTE=" class="g">
            <button>
                GYM SHARK
            </button>
        </form>
        <form action="https://instagram.com/getrawnutrition?igshid=OGQ2MjdiOTE=" class="r">
            <button>
                RAW
            </button>
        </form>
        <form action="https://instagram.com/getrawnutrition?igshid=OGQ2MjdiOTE=" class="r">
        </form>
    </footer>
</body>
