.cabecera{
    background-color: black;
    margin: -20px;
    padding: 15px;

}
.hprincipal{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.imgg{
    padding: auto;
    align-items: flex-start;
}
.im{
    gap: 1rem;
    margin-bottom: -2rem;
}
.catalogo{
    padding: 25px 25px 25px 25px;
    background-color: red;
    margin-top: 25px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}
.nmc{
    text-align: center;
}
#pie{
    background-color: rgba(213, 237, 133, 0.967);
}
