<header class="cabecera">
    <h1 class="hprincipal">GYM FIT</h1>
    <div class="imgg">
        <img src="./assets/gs.png" class="im">
    </div>
    <div class="imgg">
        <img src="./assets/olp.png" class="im">
    </div>
    <div class="imgg">
        <img src="./assets/raw.png" class="im">
    </div>
    <div class="imgg">
        <img src="./assets/yg.png" class="im">
    </div>
</header>

<main>
    <div class="catalogo">
        <p  class="nmc">HOLA USAME</p>
    </div>
    <div class="catalogo">
        <p class="nmc">HOLA USAME</p>
    </div>
    <div class="catalogo">
        <p class="nmc">HOLA USAME</p>
    </div>
    <div class="catalogo">
        <p class="nmc">HOLA USAME</p>
    </div>
</main>

<footer id="pie">
    <h2 class="rd">Redes Sociales Marcas</h2>
    <form action="https://instagram.com/olympus.team.ec?igshid=OGQ2MjdiOTE=" id="bolp">
        <button>
            olp
        </button>
    </form>
    <form action="https://instagram.com/youngla?igshid=OGQ2MjdiOTE=
    " class="y">
        <button>
            yg
        </button>
    </form>
    <form action="https://instagram.com/gymshark?igshid=OGQ2MjdiOTE=" class="g">
        <button>
            gs
        </button>
    </form>
    <form action="https://instagram.com/getrawnutrition?igshid=OGQ2MjdiOTE=" class="r">
        <button>
            raw
        </button>
    </form>
</footer>
