.cabecera{
    background-color: black;
    margin: -20px;
    padding: 15px;

}
.hprincipal{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.i{

}
.im{
    display: inline-flex;
    gap: 1rem;
    margin-bottom: -2rem;
}