<body>
    <header class="cabecera">
        <h1 id="hprincipal">GYM FIT</h1>
        <div  id="logos" style="display: inline-block; ">
            <img src="./assets/gs.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/olp.png" >
        </div>
        <div id="logos" style="display: inline-block;" >
            <img src="./assets/raw.png" >
        </div>
        <div  id="logos" style="display: inline-block;">
            <img src="./assets/yg.png" >
        </div>
    </header>
    
    <main>
        <br><br><br>
        <div class="catalogo">
            <h2 id="tolp">OLYMPUS TEAM</h2>
            <p  id="nmc">Esta marca es lanzada por la comunidad fitness Olympus Team que nace gracias a un grupo de amigos que se reunieron a entrenar
                en un gimnasio con un sueño y a dia de hoy lo estan logrando.
            </p>
            <button id="botonif"> + Catalogo </button> 
        </div>
        <div class="catalogo">
             <h2 id="tyg">YOUNGLA</h2>        
            <p id="nmc">Fue fundada en 2014 por los hermanos Gurmer y Robby Chopra, centrados en vestimenta para el gimnasio
                han buscado otorgar estilo y comodidad a sus clientes con sus prendas.
            </p>
            <button id="botonif"> + Catalogo </button>
        </div>
        <div class="catalogo">
             <h2 id="tgs">GYM SHARK</h2>        
            <p id="nmc">Marca de ropa muy reconocida en los Estados Unidos y mundialmente, presenta una variedad de estilos para vestir a la hora de ejercitarce
                cuenta con la ayuda de varios exponentes del fitness en las redes sociales para su difusion.
            </p>
            <button id="botonif"> + Catalogo </button>
        </div>
        <div class="catalogo">
             <h2 id="traw">RAW</h2>
            <p id="nmc">Iniciando principalmente como una compañia de suplementos Raw Nutrition a tomado un enfoque diferente incrusionando en el mundo de la moda
                fitness con prendas de vestir con diseños un tanto diferentes que a m&aacute;s de uno le a llamado la atenci&oacute;n </p>
            <button id="botonif"> + Catalogo </button>
        </div>
    </main>
    
    <footer id="pie">
        <h2 class="rd">Redes Sociales Marcas</h2>
        <form action="https://instagram.com/olympus.team.ec?igshid=OGQ2MjdiOTE=" class="o">
            <button>
                olp
            </button>
        </form>
        <form action="https://instagram.com/youngla?igshid=OGQ2MjdiOTE=
        " class="y">
            <button>
                yg
            </button>
        </form>
        <form action="https://instagram.com/gymshark?igshid=OGQ2MjdiOTE=" class="g">
            <button>
                gs
            </button>
        </form>
        <form action="https://instagram.com/getrawnutrition?igshid=OGQ2MjdiOTE=" class="r">
            <button>
                raw
            </button>
        </form>
        <form action="https://instagram.com/getrawnutrition?igshid=OGQ2MjdiOTE=" class="r">
            <img src="./assets/gs.png">
        </form>
    </footer>
    
</body>
