<body>
    <header class="cab">
        <h1>Olympus Team</h1>
        <nav>
            <a href="http://localhost:4200/pr">
                INICIO
            </a>

            <a href="http://localhost:4200/raw">
                RAW
            </a>

            <a href="http://localhost:4200/yg">
                YOUNGLA
            </a>

            <a href="http://localhost:4200/gs">
                GYM SHARK
            </a>

        </nav>
    </header>
    <section>
        <div id="container">
            <img src="./assets/olp1.png" >
        </div>
        <div id="container">
            <img src="./assets/olp2.png" >
        </div>
        <div id="container">
            <img src="./assets/olp3.png" >
        </div>
        <div id="container">
            <img src="./assets/olp4.png" >
        </div>
    </section>

</body>
