<body>
    <header class="cab">
        <h1>Olympus Team</h1>
        <nav>
            <a href="http://localhost:4200/pr">
                INICIO
            </a>

            <a href="http://localhost:4200/raw">
                RAW
            </a>

            <a href="http://localhost:4200/yg">
                YOUNGLA
            </a>

            <a href="http://localhost:4200/gs">
                GYM SHARK
            </a>

        </nav>
    </header>
    <section>
        <div id="container">
            <h3 id="producto">
                HOODIE GRIS
            </h3>
            
            <br>

            <p id="precio">
                $ 22.50
            </p>
           <button></button> 
            <img src="./assets/olp1.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                POMP COVER
            </h3>
            
            <br>

            <p id="precio">
                $20
            </p>
            <button></button>
            <img src="./assets/olp2.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                CAMISETA
            </h3>
            
            <br>

            <p id="precio">
                $18.50
            </p>
            <button > <i class="bi bi-bag-fill">PAGAR</i></button>
            <img src="./assets/olp3.png" >
        </div>
        <div id="container">
            <h3 id="producto">
                CAMISETA 1RA EDICI&Oacute;N
            </h3>
            
            <br>

            <p id="precio">
                $19.50
            </p>
            <button></button>
            <img src="./assets/olp4.png" >
        </div>
    </section>

</body>
